<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Klinkby.Flu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Klinkby.Flu.Properties.Settings>
            <setting name="FeedUrl" serializeAs="String">
                <value>http://web.ssi.dk/Aktuelt/Nyhedsbreve/INFLUENZA-NYT.aspx?feed=1</value>
            </setting>
            <setting name="ContentPattern" serializeAs="String">
                <value>^.+?(?'senitel'[\d,]+)\ .+? (?'emergency'[\d,]+)\ </value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>da-DK</value>
            </setting>
            <setting name="Lat" serializeAs="String">
                <value>55.666388</value>
            </setting>
            <setting name="Lon" serializeAs="String">
                <value>12.5854653</value>
            </setting>
            <setting name="TweetFormat" serializeAs="String">
                <value>Influenzaniveauet er ændret fra {0} til »{1}«. {2} #influenza</value>
            </setting>
            <setting name="Range" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0,0	meget lav</string>
                        <string>1,0	lav</string>
                        <string>1,5	middel</string>
                        <string>3,5	høj</string>
                        <string>5,0	meget høj</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LevelPattern" serializeAs="String">
                <value>»(?'level'[\w\ ]+)«</value>
            </setting>
            <setting name="ListSlug" serializeAs="String">
                <value>influenza-dk</value>
            </setting>
            <setting name="ListOwner" serializeAs="String">
                <value>klinkby</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>****</value>
            </setting>
            <setting name="ApiSecret" serializeAs="String">
                <value>****</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>****</value>
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value>****</value>
            </setting>
        </Klinkby.Flu.Properties.Settings>
    </applicationSettings>
</configuration>